requests
nose2
# Powston helper libraries
aemo_to_tariff @ git+https://github.com/powston/aemo_to_tariff@v0.2.5
inverter_simulator @ git+https://github.com/powston/inverter_simulator@v0.1.3
astral==3.2
matplotlib==3.7.1